MVCwWCF/MVCwWCF/Service References/WCFPersonaReference/PersonaData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonaData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58417/PersonaData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58417/PersonaData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58417/PersonaData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfPersona.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonaData_listar_InputMessage">
    <wsdl:part name="parameters" element="tns:listar" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_traePersona_InputMessage">
    <wsdl:part name="parameters" element="tns:traePersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_traePersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:traePersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_creaPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:creaPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_creaPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:creaPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_editaPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:editaPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaData_editaPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:editaPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonaData">
    <wsdl:operation name="listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaData/listar" message="tns:IPersonaData_listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaData/listarResponse" message="tns:IPersonaData_listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="traePersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaData/traePersona" message="tns:IPersonaData_traePersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaData/traePersonaResponse" message="tns:IPersonaData_traePersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creaPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaData/creaPersona" message="tns:IPersonaData_creaPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaData/creaPersonaResponse" message="tns:IPersonaData_creaPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editaPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaData/editaPersona" message="tns:IPersonaData_editaPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaData/editaPersonaResponse" message="tns:IPersonaData_editaPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonaData" type="tns:IPersonaData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listar">
      <soap:operation soapAction="http://tempuri.org/IPersonaData/listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traePersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaData/traePersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaData/creaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editaPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaData/editaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaData">
    <wsdl:port name="BasicHttpBinding_IPersonaData" binding="tns:BasicHttpBinding_IPersonaData">
      <soap:address location="http://localhost:58417/PersonaData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>